.content {
    font-weight: bold;
    border-radius: 5px;
    display: inline;
    table-layout: fixed;
}
.horas{
    color: rgb(15, 25, 75);
    text-decoration: solid;
    border-radius: 3px;

}

.monto{
    color: rgb(15, 25, 75);
    text-decoration: solid;
    border-radius: 3px;

}

.horasmonto{
background-color: rgb(168, 210, 236);
border-color: rgb(168, 210, 236);
margin: auto;
display: flex;
justify-content: space-between;
align-items: center; 
border-radius: 3px;
}

.verde{
    text-align: right;
}

.rojo{
  text-align: right;
}