.content {
    font-weight: bold;
    background-color: rgb(168, 210, 236);
    border-color: rgb(168, 210, 236);
    border-radius: 5px;
    display: inline;
    text-align: left;
    table-layout: fixed;    
}

.horas{
    color: rgb(15, 25, 75);
    text-decoration: solid;
    background-color:rgb(168, 210, 236);
    border-radius: 3px;
}