.encabezado{
    background-color: rgb(0, 161, 224);
    border-color: rgb(23, 27, 29);
    border-radius: 5px;
    border: 1px; 
    border-left: 20px;
    border-right: 20px;
    display: flex;
    table-layout: fixed;
    text-align: center
}

.recordform{
    padding-bottom: 4px;
    padding-block-end: 4px;

}

  .opacity{
    opacity: 50%;
}